{{#>ContainerTemplate}}
  <form class="{{styles.form}}">
    {{{title}}}
    {{{email}}}
    {{{login}}}
    {{{name}}}
    {{{lastname}}}
    {{{phone}}}
    {{{password}}}
    {{{button}}}
    {{{link}}}
  </form>
{{/ContainerTemplate}}
