<main class='{{styles.dialog}}'>
  {{{dialogHeader}}}

  <section class='{{styles.chat}}'>
    <div class='{{styles.chatContainer}}'>
      {{{messages}}}
    </div>
  </section>

  <div class='{{styles.panel}}'>
    <img
      src='../assets/icons/pin.svg'
      id='pin'
      alt='pin'
      class='{{styles.pin}}'
    />

    {{{input}}}

    <button class='{{styles.sendButton}}'></button>
  </div>
</main>