<main class='{{styles.dialog}}'>
  <div id='header'></div>
  {{{dialogHeader}}}

  <section class='{{styles.chat}}'>
    <div class='{{styles.chatContainer}}' id='dialog'>
      {{{messages}}}
    </div>
  </section>

  {{{panel}}}
</main>