<main class='{{styles.profile}}'>
  {{{backButton}}}

  
    <section class='{{styles.ptofileInfoBlock}}'>
      {{#>ContainerTemplate}}
        {{{fileInput}}}
        {{{title}}}
        <div class='{{styles.infoBlock}}'>
          {{{email}}}
          {{{login}}}
          {{{name}}}
          {{{lastname}}}
          {{{nameInChat}}}
          {{{phone}}}
        </div>

        <div class='{{styles.linksBlock}}'>
          {{{changeProfile}}}
          {{{changePassword}}}
          {{{logoutLink}}}
        </div>
      {{/ContainerTemplate}}
    </section>
 
</main>