<header class='{{styles.dialogHeader}}'>
  <div class='{{styles.dialogContainer}}'>
    {{#if avatar}}
      <img class='{{styles.dialogUserAvatar}}' src={{avatar}}  alt="" />
    {{else}}
      <div class='{{styles.dialogAvatar}}'></div>
    {{/if}}

    <span class='{{styles.userName}}'>
      {{userName}}
    </span>
  </div>
</header>