<main class='{{styles.profile}}'>
  {{{backButton}}}
    <section class='{{styles.ptofileInfoBlock}}'>
      {{#>ContainerTemplate}}
        {{{avatar}}}
        {{{form}}}
        {{{links}}}
      {{/ContainerTemplate}}
    </section>
</main>
