{{#if label}}
  <label for="{{id}}">{{label}}</label>
{{/if}}

<input class='{{styles.input}}{{#if className}}{{ className }}{{/if}}'
       type='{{type}}'
       name='{{name}}'
       id='{{id}}'
       placeholder='{{placeholder}}'
       {{#if clvalueassName}}value="{{value}}"{{/if}}
  {{#if disabled}}{{disabled}}{{/if}}
/>