<main class='{{styles.profile}}'>
  {{{backButton}}}

  <section class="{{styles.profileInfo}}">
    {{#>ContainerTemplate}}
      <form class="{{styles.infoBlock}}">
        {{{oldPassword}}}
        {{{newPassword}}}
        {{{newPasswordRepeat}}}
      </form>

      {{{button}}}
    {{/ContainerTemplate}}
  </section>
</main>