<main class='{{styles.changePassword}}'>
  {{{backButton}}}

  <section class='{{styles.changePasswordInfo}}'>
    {{#>ContainerTemplate}}
      <form class='{{styles.changePasswordBlock}}'>

        {{{oldPasswordLabel}}}
        {{{oldPassword}}}

        {{{newPasswordLabel}}}
        {{{newPassword}}}

        {{{newPasswordRepeatLabel}}}
        {{{newPasswordRepeat}}}

      </form>
      {{{button}}}
    {{/ContainerTemplate}}
  </section>
</main>